@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    overflow: hidden;
    
} */

html{
    color-scheme: light dark;
}
/* Add this to your global CSS or within a style tag */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
 